<%= form_with(model: gift_list, local: true) do |form| %>
  <div>
    <label>Title</label>
    <%= form.text_field :title %>
  </div>
  <div>
    <label>Description</label>
    <%= form.text_field :description %>
  </div>
  <% if gift_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift_list.errors.count, "error") %> prohibited this gift_list from being saved:</h2>

      <ul>
      <% gift_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
