<p id="notice"><%= notice %></p>
<h2><%= @gift_list.title %></h2>
<p><%= @gift_list.event_date.strftime("%B #{@gift_list.event_date.day.ordinalize}") %></p>
<p><%= @gift_list.items.count %> gifts</p>
<p><%= @gift_list.description %></p>
<ul>
	<% @gift_list.items.each do |item| %>
	<li><h3><%= item.title %></h3></li>
	<% end %>
</ul>
<%= link_to 'Edit', edit_gift_list_path(@gift_list) %> |
<%= link_to 'Back', gift_lists_path %>
<%= link_to 'Add Item', new_gift_list_item_path(@gift_list) %>
